# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ML Models & Data
*.pth
*.pt
*.h5
*.weights
convnextv2-nih-results/
chest_xray_pipeline/checkpoints/
chest_xray_pipeline/results/
chest_xray_pipeline/plots/
uploads/
heatmaps/
*.csv
*.txt

# IDEs
.vscode/
.idea/
.DS_Store
